* {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}

.repos-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.repos-list > li {
  margin-bottom: 10px;
}
